@import "~antd/dist/antd.css";

body {
  background: #f0f2f5;
}

.topbar {
  background: #f0f2f5;
  height: 40px;
  padding: 5px;
}

.ant-layout-header {
  background: #fff;
  height: 140px;
}

.ant-menu-horizontal {
  border: none;
}



